<footer>
  <div class="row">
    <div class="small-12 columns"><hr/></div>
  </div>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <span class=""><a href="tel:+359899000887">+359 899 000 887</a></span>
      <span class=""><a href="mailto:hello@IvaAtanasova.com">hello@IvaAtanasova.com</a></span>
    </div>
    <div class="small-12 medium-5 columns">
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
    <div class="small-12 medium-4 columns medium-text-right">
      <span class="copyright">&copy; 2017 NewTrend, Всички права запазени.</span>
    </div>
  </div>
</footer>